.spell-uses .spell-cost-increased {
    color: #400000;
}

#token-hud .attribute.bar2 input {
    border: 1px solid #ff5f5f;
}

#token-hud .attribute::before {
    position: absolute;
    color: white;
    opacity: 0.5;
    font-size: 8px;
    width: 100%;
    text-align: center;
    pointer-events: none;
}

#token-hud .attribute.bar2::before {
    content: "Wounds";
    top: 1px;
}

#token-hud .attribute.bar1::before {
    content: "Vitality";
    bottom: 29px;
}

html[lang="de"] #token-hud .attribute.bar2::before {
    content: "Wunden";
}

html[lang="de"] #token-hud .attribute.bar1::before {
    content: "Vitalität";
}

.flexcol.wt-grazed {
    background-color: #ffaf5f;
}

.flexcol.wt-wounded {
    background-color: #ff5f5f;
}

.flexcol.wt-critical {
    background-color: #ff2e2e;
}

.flexcol.wt-dead {
    background-color: #565656;
}

.flexcol.wt-critical > span,
.flexcol.wt-dead > span {
    color: white !important
}
